page-login {

    .item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input, .item-md ion-icon[item-start] + .item-inner, .item-md ion-icon[item-start] + .item-input {
        margin-left: 2px;
        border: 1px solid gray;
        border-radius: 4px;
    }

    .item-md {
        height: 5px;
        padding-right: 16px;
        margin-bottom: 15px;
    }

    .item-block { 
        min-height: 2.4rem;
    }

    h3 {
        margin-top: 25px;
        margin-bottom: 25px;
    }


    .label-md {
        height: 100%;
        background-color: lightgray;
    }

    ion-list {
        margin: 10px;
        padding: 20px;
        border: 1px solid black;
    }

    ion-navbar {
        border-bottom: 1px solid black;
    }

}
