<ion-header>

  <ion-toolbar id="head" color="primary">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons end>
      <button ion-button>
        Servicios financieros
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content text-center>

  <ion-navbar>
    <h3> Solicitud de productos </h3>
  </ion-navbar>

  <ion-list>

    <h3>Datos personales</h3>

    <ion-item>
      <ion-label>Nombres</ion-label>
      <ion-input [(ngModel)]="user.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Apellidos</ion-label>
      <ion-input [(ngModel)]="user.lastname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Documento</ion-label>
      <ion-select [(ngModel)]="user.documentType.id">
        <ion-option *ngFor="let documentType of documentTypes" [value]="documentType.id">{{documentType.type}}</ion-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label>No. Documento</ion-label>
      <ion-input [(ngModel)]="user.documentNumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Celular</ion-label>
      <ion-input [(ngModel)]="user.phone"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Correo</ion-label>
      <ion-input type="email" [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <h3>Producto</h3>

    <ion-item>
      <ion-select [(ngModel)]="user.product.id">
        <ion-option *ngFor="let product of products" [value]="product.id">{{product.name}}</ion-option>
      </ion-select>
    </ion-item>

    <h3>Informacíon laboral</h3>

      <ion-label>¿Labora actualmente?</ion-label>
      <ion-grid radio-group [(ngModel)]="user.employmentState">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Si</ion-label>
              <ion-radio value="1" item-right></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>No</ion-label>
              <ion-radio value="0" item-right></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

    <button ion-button color="secondary" (click)="show()" round>
      <ion-icon name="checkmark-circle"></ion-icon> Aplicar
    </button>

  </ion-list>

</ion-content>

<ion-footer>

  <ion-toolbar id="foot" color="primary"></ion-toolbar>

</ion-footer>